<img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg">

# Laboratorio 3: Behavioral Finance

## Elaborado por:
Ariadna Desirée Galindo Marín 
Francisco Javier Barragán (?)

## Otoño 2021

Repositorio: <a href='https://github.com/ariadnagalindom/MyST_LAB_3'>Link</a></font>

# 0. Librerias y dependencias

## 0.1 
Requirements necesarios para correr el cuaderno:

In [1]:
#importamos librerias 
import functions as f
import pandas as pd
import numpy as np

In [17]:
import importlib

importlib.reload(f)

## 0.2 Dependencias

* '\files\cuentas.csv' -- Archivo con las credenciales de los integrantes del equipo. 
* -- Archivo con los datos del '^S&P500'

# 1. Introducción

# 2. Objetivos
## 2.1 General
## 2.2 Específicos

# 3. Datos utilizados 
Se descargan los históricos de MetaTrader5 del laboratorio anterior, se debe repetir el proceso con todos los integrantes del equipo. Por eso el documento 'cuentas.csv' tiene las credenciales de todos.

In [11]:
historico_ariadna = f.f_leer_archivo()
historico_ariadna.head()

Los nombres son: ['Ariadna', 'Javier']
Se inició sesión con éxito

,Position,Time,Symbol,Type,Volume,Price,Time.1,Price.1,Commission,Swap,Profit
0,45386461,1631894124,EURUSD,buy,0.01,1.17766,1631894254,1.17755,0.0,0.00,-0.11
1,45429899,1632191036,USDCHF,buy,0.01,0.92800,1632238413,0.92410,0.0,0.00,-4.22
2,45386539,1631894280,EURUSD,buy,0.01,1.17761,1632238423,1.17390,0.0,-0.20,-3.71
3,45441064,1632237416,CHFJPY,sell,0.02,118.37800,1632312458,118.80300,0.0,-0.02,-7.76
4,45481449,1632352281,GBPUSD,buy,10.00,1.36205,1632405627,1.36916,0.0,-36.10,7110.00

In [12]:
EURUSD_pip = f.f_pip_size('EURUSD')
EURUSD_pip

10000

In [13]:
tiempo = f.f_columnas_tiempos(historico_ariadna)
tiempo.head()

,Position,Time,Symbol,Type,Volume,Price,Time.1,Price.1,Commission,Swap,Profit,open_time,close_time,time
0,45386461,1631894124,EURUSD,buy,0.01,1.17766,1631894254,1.17755,0.0,0.00,-0.11,2021-09-17 10:55:24,2021-09-17 10:57:34,130.0
1,45429899,1632191036,USDCHF,buy,0.01,0.92800,1632238413,0.92410,0.0,0.00,-4.22,2021-09-20 21:23:56,2021-09-21 10:33:33,47377.0
2,45386539,1631894280,EURUSD,buy,0.01,1.17761,1632238423,1.17390,0.0,-0.20,-3.71,2021-09-17 10:58:00,2021-09-21 10:33:43,344143.0
3,45441064,1632237416,CHFJPY,sell,0.02,118.37800,1632312458,118.80300,0.0,-0.02,-7.76,2021-09-21 10:16:56,2021-09-22 07:07:38,75042.0
4,45481449,1632352281,GBPUSD,buy,10.00,1.36205,1632405627,1.36916,0.0,-36.10,7110.00,2021-09-22 18:11:21,2021-09-23 09:00:27,53346.0

In [7]:
pips_ariadna = f.f_columnas_pips(tiempo)
pips_ariadna.head()

,Position,Time,Symbol,Type,Volume,Price,Time.1,Price.1,Commission,Swap,Profit,open_time,close_time,time,pips,pips_acm,profit_acm
0,45386461,1631894124,EURUSD,buy,0.01,1.17766,1631894254,1.17755,0.0,0.00,-0.11,2021-09-17 10:55:24,2021-09-17 10:57:34,130.0,-1.1,-1.1,-0.11
1,45429899,1632191036,USDCHF,buy,0.01,0.92800,1632238413,0.92410,0.0,0.00,-4.22,2021-09-20 21:23:56,2021-09-21 10:33:33,47377.0,-39.0,-40.1,-4.33
2,45386539,1631894280,EURUSD,buy,0.01,1.17761,1632238423,1.17390,0.0,-0.20,-3.71,2021-09-17 10:58:00,2021-09-21 10:33:43,344143.0,-37.1,-77.2,-8.04
3,45441064,1632237416,CHFJPY,sell,0.02,118.37800,1632312458,118.80300,0.0,-0.02,-7.76,2021-09-21 10:16:56,2021-09-22 07:07:38,75042.0,-42.5,-119.7,-15.80
4,45481449,1632352281,GBPUSD,buy,10.00,1.36205,1632405627,1.36916,0.0,-36.10,7110.00,2021-09-22 18:11:21,2021-09-23 09:00:27,53346.0,71.1,-48.6,7094.20

In [14]:
metricas = f.f_evolucion_capital(historico_ariadna)
metricas.head()

             Profit  profit_acm_d   cap_acum
close_time_
2021-09-17    -0.11         -0.11  999999.89
2021-09-18     0.00         -0.11  999999.89
2021-09-19     0.00         -0.11  999999.89
2021-09-20     0.00         -0.11  999999.89
2021-09-21    -7.93         -8.04  999991.96

In [18]:
e_desc, drawdown, drawup = f.f_estadisticas_mad(0.05,metricas)
e_desc

[*********************100%***********************]  1 of 1 completed

,metrica,,Valor,Descripción
0,sharpe_original,Cantidad,0.135021,Sharpe Ratio Fórmula Original
1,sharpe_actualizado,Cantidad,-96.983148,Sharpe Ratio Fórmula Ajustada
2,drawdown_capi,Fecha Inicial,2021-09-22,Fecha inicial del DrawDown de Capital
3,drawdown_capi,Fecha Final,2021-09-22,Fecha final del DrawDown de Capital
4,drawdown_capi,Fecha Final,-11004.41,Máxima pérdida flotante registrada
5,drawup_capi,Fecha Inicial,2021-09-22,Fecha inicial del DrawUp de Capital
6,drawup_capi,Fecha Final,2021-09-22,Fecha final del DrawUp de Capital
7,drawup_capi,Fecha Final,11020.21,Máxima ganancia flotante registrada

# 4. Procesos

# Parte 1: **Estadística Descriptiva**

# Parte 2: **Medidas de Atribución al Desempeño**

# Parte 3: **Behavioral Finance**

# Parte 4: **Visualizaciones**

In [7]:
import visualizations as v

NameError: name 'e_desc' is not defined

In [46]:
df_2_ranking = e_desc.get('df_2_ranking')
print(df_2_ranking)

None

In [15]:
import plotly.express as px

In [42]:
df= px.data.tips(df_2_ranking)
fig= px.pie(df, values= 'rank (%)')
fig.show()

ValueError: Value of 'values' is not the name of a column in 'data_frame'. Expected one of ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'] but received: rank (%)

In [17]:
import matplotlib.pyplot as plt

In [19]:
drawdown, drawup

(-11004.41, 11020.21)

In [20]:
# gráfica 2: DrawDown y DrawUp

# capital acumulado diario de negro
plt.plot(metricas.index, metricas.cap_acum, 'k')
# DrawUp linea punteada verde
plt.plot(drawup,'*g')
# DrawDown linea punteada roja 

plt.xticks(rotation=90)
plt.ylabel('($)')
plt.grid()

NameError: name 'plt' is not defined

# 5. Conclusiones

## Bibliografía

* https://pandas.pydata.org/docs/user_guide/merging.html
* https://www.kite.com/python/answers/how-to-rotate-axis-labels-in-matplotlib-in-python